<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Configuration" version="1.5.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net461" />
  <package id="FSharp.Data" version="3.3.3" targetFramework="net461" />
  <package id="FSharpHTML" version="0.9.1" targetFramework="net461" />
  <package id="GiteeDrive" version="1.0.0" targetFramework="net461" />
  <package id="Suave" version="2.5.6" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>