<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentWPF" version="0.8.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.7.1" targetFramework="net461" />
  <package id="FSharp.Data" version="3.3.3" targetFramework="net461" />
  <package id="GiteeDrive" version="1.0.0" targetFramework="net461" />
</packages>